# Prepare data for custom app

In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

#### Import plant simulation

In [2]:
cols=['Timestamp',\
        'plant','PlantStatus','yield', 'defectiveProd','energyCons', \
        'Machine','MachineStatus','MachineEnergyConsumption (kW)', 'MachineFaultProb', 'MachineBreakDownProb', 'MachineDefectsRate', 'MachineYield', 'MachineNoise' ,\
        'MachineCyclicMaintenance','MachineCorrectiveMaintenance','MachineProactiveMaintenance']
df=pd.read_csv('csv/sim_LGP_factory.csv',names=cols,low_memory=False)
df

,Timestamp,plant,PlantStatus,yield,defectiveProd,energyCons,Machine,MachineStatus,MachineEnergyConsumption (kW),MachineFaultProb,MachineBreakDownProb,MachineDefectsRate,MachineYield,MachineNoise,MachineCyclicMaintenance,MachineCorrectiveMaintenance,MachineProactiveMaintenance
0,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300010,OK,3.976062,0.001,0.00001,0.002985,498.369284,0,NaN,NaN,NaN
1,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300020,OK,12.725559,0.001,0.00001,0.006062,158.911788,0,NaN,NaN,NaN
2,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300031,OK,1.993850,0.001,0.00001,0.000099,295.684794,0,NaN,NaN,NaN
3,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300032,OK,2.015637,0.001,0.00001,0.000100,302.772354,0,NaN,NaN,NaN
4,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300033,OK,1.997715,0.001,0.00001,0.000101,298.824697,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157051,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300032,OK,2.040393,0.001,0.00001,0.000100,303.309508,0,NaN,NaN,NaN
157052,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300033,OK,1.986307,0.001,0.00001,0.000100,297.879454,0,NaN,NaN,NaN
157053,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300034,OK,1.978334,0.001,0.00001,0.000099,303.145147,0,NaN,NaN,NaN
157054,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300035,OK,1.999829,0.001,0.00001,0.000100,297.631981,0,NaN,NaN,NaN
157055,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300036,OK,2.030244,0.001,0.00001,0.000100,305.731744,0,NaN,NaN,NaN

#### Import maintenance orders history

In [3]:
cols=['start_time',\
              'end_time',\
              'Plant',\
              'equipment_nr',\
              'maint_nr',\
              'cost',\
              'duration']
df2=pd.read_csv('csv/maintenance_LGP_factory.csv',names=cols,low_memory=False)
df2

,start_time,end_time,Plant,equipment_nr,maint_nr,cost,duration
0,2020-01-21 20:00:00,2020-01-22 20:00:00,1010,220300036,CORRECTIVE00001,5000,24
1,2020-01-27 02:00:00,2020-01-28 02:00:00,1010,220300034,CORRECTIVE00002,5000,24
2,2020-01-28 08:00:00,2020-01-29 08:00:00,1010,220300035,CORRECTIVE00003,5000,24
3,2020-01-30 23:00:00,2020-01-31 23:00:00,1010,220300010,CYCLIC00001,1500,24
4,2020-01-30 23:00:00,2020-01-31 23:00:00,1010,220300020,CYCLIC00002,3000,24
...,...,...,...,...,...,...,...
178,2022-02-16 14:00:00,2022-02-16 22:00:00,1010,220300010,PROACTIVE00066,1500,8
179,2022-02-25 18:00:00,2022-02-25 22:00:00,1010,220300036,PROACTIVE00067,500,4
180,2022-02-28 10:00:00,2022-02-28 22:00:00,1010,220300020,PROACTIVE00068,3000,12
181,2022-03-05 09:00:00,2022-03-05 17:00:00,1010,220300010,PROACTIVE00069,1500,8
182,2022-03-19 10:00:00,2022-03-19 22:00:00,1010,220300020,PROACTIVE00070,3000,12

#### For SAC Predictive Planning

#### For Smart Factory Custom App

In [22]:
out1_path='csv/sap.smartfactory-PlantConditions.csv'
out2_path='csv/sap.smartfactory-EquipmentConditions.csv'

In [5]:
template1='../sustainable-smart-factory-app/db/data/sap.smartfactory-PlantConditions.csv'
template2='../sustainable-smart-factory-app/db/data/sap.smartfactory-EquipmentConditions.csv'
t1=pd.read_csv(template1,sep=";")
t2=pd.read_csv(template2,sep=";")
t1

,ID,recStartedAt,recEndedAt,plant,plantStatus,yield,defeatedProd,energyCons
0,1,2022-03-16 08:00:00.4209753,2022-03-16 09:00:00.4209753,1010,Normal,2500,10,4500
1,2,2022-03-16 09:00:00.4209753,2022-03-16 10:00:00.4209753,1010,Normal,2500,5,4500
2,3,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,Fault,2000,30,5000
3,4,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,Break Down,2000,30,5000
4,5,2022-03-16 08:00:00.4209753,2022-03-16 09:00:00.4209753,1010,Normal,2500,10,4500
5,6,2022-03-16 09:00:00.4209753,2022-03-16 10:00:00.4209753,1010,Normal,2500,5,4500
6,7,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,Fault,2000,30,5000
7,8,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,Break Down,2000,30,5000

In [6]:
t2

,ID,recStartedAt,recEndedAt,plant,plantSection,funcLocation,equipment,equipmentName,plantCond_ID
0,1,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,3
1,2,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,3
2,3,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,4
3,4,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,4
4,5,2022-03-17 10:00:00.4209753,2022-03-17 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,7
5,6,2022-03-17 10:00:00.4209753,2022-03-17 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,7
6,7,2022-03-17 11:00:00.4209753,2022-03-17 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,8
7,8,2022-03-17 11:00:00.4209753,2022-03-17 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,8

In [7]:
df

,Timestamp,plant,PlantStatus,yield,defectiveProd,energyCons,Machine,MachineStatus,MachineEnergyConsumption (kW),MachineFaultProb,MachineBreakDownProb,MachineDefectsRate,MachineYield,MachineNoise,MachineCyclicMaintenance,MachineCorrectiveMaintenance,MachineProactiveMaintenance
0,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300010,OK,3.976062,0.001,0.00001,0.002985,498.369284,0,NaN,NaN,NaN
1,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300020,OK,12.725559,0.001,0.00001,0.006062,158.911788,0,NaN,NaN,NaN
2,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300031,OK,1.993850,0.001,0.00001,0.000099,295.684794,0,NaN,NaN,NaN
3,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300032,OK,2.015637,0.001,0.00001,0.000100,302.772354,0,NaN,NaN,NaN
4,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300033,OK,1.997715,0.001,0.00001,0.000101,298.824697,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157051,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300032,OK,2.040393,0.001,0.00001,0.000100,303.309508,0,NaN,NaN,NaN
157052,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300033,OK,1.986307,0.001,0.00001,0.000100,297.879454,0,NaN,NaN,NaN
157053,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300034,OK,1.978334,0.001,0.00001,0.000099,303.145147,0,NaN,NaN,NaN
157054,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300035,OK,1.999829,0.001,0.00001,0.000100,297.631981,0,NaN,NaN,NaN
157055,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300036,OK,2.030244,0.001,0.00001,0.000100,305.731744,0,NaN,NaN,NaN

In [8]:
# aggregate by 8h shifts

In [9]:
24/8

3.0

In [10]:
df['recStartedAt']=df['Timestamp']
df['Timestamp']=pd.to_datetime(df['Timestamp'])
df=df.fillna('-')
df['shift']=0
df['hour']=df['Timestamp'].apply(lambda x: x.hour)
df.loc[df['hour']>=8,'shift']=1
df.loc[df['hour']>=16,'shift']=2

df['date']=df['recStartedAt'].apply(lambda x: x.split(' ')[0])
df['recEndedAt']=df['Timestamp'].apply(lambda x : str(x+timedelta(hours=1)))
df

,Timestamp,plant,PlantStatus,yield,defectiveProd,energyCons,Machine,MachineStatus,MachineEnergyConsumption (kW),MachineFaultProb,...,MachineYield,MachineNoise,MachineCyclicMaintenance,MachineCorrectiveMaintenance,MachineProactiveMaintenance,recStartedAt,shift,hour,date,recEndedAt
0,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300010,OK,3.976062,0.001,...,498.369284,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
1,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300020,OK,12.725559,0.001,...,158.911788,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
2,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300031,OK,1.993850,0.001,...,295.684794,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
3,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300032,OK,2.015637,0.001,...,302.772354,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
4,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300033,OK,1.997715,0.001,...,298.824697,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157051,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300032,OK,2.040393,0.001,...,303.309508,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157052,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300033,OK,1.986307,0.001,...,297.879454,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157053,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300034,OK,1.978334,0.001,...,303.145147,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157054,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300035,OK,1.999829,0.001,...,297.631981,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157055,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300036,OK,2.030244,0.001,...,305.731744,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00

In [11]:
df['BROKEN']=0
df.loc[df['MachineStatus']=='BROKEN','BROKEN']=1
df['MAINTENANCE']=0
df.loc[df['PlantStatus']==0,'MAINTENANCE']=1

In [12]:
df['RUNNING']=0
df.loc[df['PlantStatus']==1,'RUNNING']=1
df['FAULT']=0
df.loc[df['MachineNoise']==1,'FAULT']=1

In [13]:
conditions=['BROKEN','MAINTENANCE','RUNNING','FAULT']
measures=['yield','defectiveProd','energyCons']

aggregations={}
for c in conditions:
    aggregations[c]=np.max
aggregations['recStartedAt']=np.min
aggregations['recEndedAt']=np.max

out1=df.groupby(['date','shift','plant'],as_index=False).agg(aggregations)

out2=df.drop_duplicates(['Timestamp','plant'])
out2=out2.groupby(['date','shift','plant'],as_index=False)[measures].sum()

In [14]:
out1

,date,shift,plant,BROKEN,MAINTENANCE,RUNNING,FAULT,recStartedAt,recEndedAt
0,2020-01-01,0,1010,0,0,1,0,2020-01-01 01:00:00,2020-01-01 08:00:00
1,2020-01-01,1,1010,0,0,1,0,2020-01-01 08:00:00,2020-01-01 16:00:00
2,2020-01-01,2,1010,0,0,1,0,2020-01-01 16:00:00,2020-01-02 00:00:00
3,2020-01-02,0,1010,0,0,1,0,2020-01-02 00:00:00,2020-01-02 08:00:00
4,2020-01-02,1,1010,0,0,1,0,2020-01-02 08:00:00,2020-01-02 16:00:00
...,...,...,...,...,...,...,...,...,...
2450,2022-03-27,2,1010,0,0,1,0,2022-03-27 16:00:00,2022-03-28 00:00:00
2451,2022-03-28,0,1010,0,0,1,0,2022-03-28 00:00:00,2022-03-28 08:00:00
2452,2022-03-28,1,1010,0,0,1,0,2022-03-28 08:00:00,2022-03-28 16:00:00
2453,2022-03-28,2,1010,0,0,1,0,2022-03-28 16:00:00,2022-03-29 00:00:00
2454,2022-03-29,0,1010,0,0,1,0,2022-03-29 00:00:00,2022-03-29 01:00:00

In [15]:
out2

            date  shift  plant        yield  defectiveProd  energyCons
0     2020-01-01      0   1010  1124.836370      10.792175  199.665902
1     2020-01-01      1   1010  1282.339197      12.331281  227.747063
2     2020-01-01      2   1010  1286.619992      12.309624  228.088926
3     2020-01-02      0   1010  1274.889378      12.212085  227.526962
4     2020-01-02      1   1010  1277.018276      12.261960  228.298668
...          ...    ...    ...          ...            ...         ...
2450  2022-03-27      2   1010  1276.830902      12.204133  228.182545
2451  2022-03-28      0   1010  1273.868018      12.236097  227.955529
2452  2022-03-28      1   1010  1280.821395      12.348870  228.446626
2453  2022-03-28      2   1010  1273.337556      12.197699  228.119533
2454  2022-03-29      0   1010   157.170959       1.501550   28.824625

[2455 rows x 6 columns]

In [16]:
df[ (df['date']=='2020-01-01') & (df['shift']==0)]

,Timestamp,plant,PlantStatus,yield,defectiveProd,energyCons,Machine,MachineStatus,MachineEnergyConsumption (kW),MachineFaultProb,...,MachineProactiveMaintenance,recStartedAt,shift,hour,date,recEndedAt,BROKEN,MAINTENANCE,RUNNING,FAULT
0,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300010,OK,3.976062,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
1,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300020,OK,12.725559,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
2,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300031,OK,1.993850,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
3,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300032,OK,2.015637,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
4,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300033,OK,1.997715,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
5,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300034,OK,2.005905,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
6,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300035,OK,2.001806,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
7,2020-01-01 01:00:00,1010,1,158.911788,1.533240,28.720926,220300036,OK,2.004391,0.001,...,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00,0,0,1,0
8,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300010,OK,3.962662,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
9,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300020,OK,12.405334,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
10,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300031,OK,2.030844,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
11,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300032,OK,2.018446,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
12,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300033,OK,1.986818,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
13,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300034,OK,2.023652,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
14,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300035,OK,1.999722,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
15,2020-01-01 02:00:00,1010,1,162.288202,1.589131,28.415391,220300036,OK,1.987912,0.001,...,-,2020-01-01 02:00:00,0,2,2020-01-01,2020-01-01 03:00:00,0,0,1,0
16,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300010,OK,4.046676,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
17,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300020,OK,12.597364,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
18,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300031,OK,2.015997,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
19,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300032,OK,2.012802,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
20,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300033,OK,2.010899,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
21,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300034,OK,1.988912,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
22,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300035,OK,1.995120,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
23,2020-01-01 03:00:00,1010,1,162.548316,1.554890,28.625336,220300036,OK,1.957565,0.001,...,-,2020-01-01 03:00:00,0,3,2020-01-01,2020-01-01 04:00:00,0,0,1,0
24,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300010,OK,4.029125,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
25,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300020,OK,12.498069,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
26,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300031,OK,1.996303,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
27,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300032,OK,2.004083,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
28,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300033,OK,1.989633,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
29,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300034,OK,1.965451,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
30,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300035,OK,1.993447,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
31,2020-01-01 04:00:00,1010,1,161.819586,1.536632,28.475610,220300036,OK,1.999498,0.001,...,-,2020-01-01 04:00:00,0,4,2020-01-01,2020-01-01 05:00:00,0,0,1,0
32,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300010,OK,3.999764,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
33,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300020,OK,12.306405,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
34,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300031,OK,2.005675,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
35,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300032,OK,1.986002,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
36,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300033,OK,1.978012,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
37,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300034,OK,2.023015,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
38,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300035,OK,2.023901,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
39,2020-01-01 05:00:00,1010,1,161.177065,1.524662,28.325856,220300036,OK,2.003082,0.001,...,-,2020-01-01 05:00:00,0,5,2020-01-01,2020-01-01 06:00:00,0,0,1,0
40,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300010,OK,3.972561,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
41,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300020,OK,12.523305,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
42,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300031,OK,2.011569,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
43,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300032,OK,1.980702,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
44,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300033,OK,2.012241,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
45,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300034,OK,1.992763,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
46,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300035,OK,2.010471,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
47,2020-01-01 06:00:00,1010,1,160.083154,1.519665,28.530983,220300036,OK,2.027371,0.001,...,-,2020-01-01 06:00:00,0,6,2020-01-01,2020-01-01 07:00:00,0,0,1,0
48,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300010,OK,4.067980,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0
49,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300020,OK,12.577705,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0
50,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300031,OK,1.991717,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0
51,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300032,OK,1.992346,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0
52,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300033,OK,1.959024,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0
53,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300034,OK,1.987103,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0
54,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300035,OK,1.948647,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0
55,2020-01-01 07:00:00,1010,1,158.008259,1.533956,28.571801,220300036,OK,2.047279,0.001,...,-,2020-01-01 07:00:00,0,7,2020-01-01,2020-01-01 08:00:00,0,0,1,0

In [17]:
t1

,ID,recStartedAt,recEndedAt,plant,plantStatus,yield,defeatedProd,energyCons
0,1,2022-03-16 08:00:00.4209753,2022-03-16 09:00:00.4209753,1010,Normal,2500,10,4500
1,2,2022-03-16 09:00:00.4209753,2022-03-16 10:00:00.4209753,1010,Normal,2500,5,4500
2,3,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,Fault,2000,30,5000
3,4,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,Break Down,2000,30,5000
4,5,2022-03-16 08:00:00.4209753,2022-03-16 09:00:00.4209753,1010,Normal,2500,10,4500
5,6,2022-03-16 09:00:00.4209753,2022-03-16 10:00:00.4209753,1010,Normal,2500,5,4500
6,7,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,Fault,2000,30,5000
7,8,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,Break Down,2000,30,5000

In [18]:
out1['plantStatus']='Normal'
out1.loc[   out1['BROKEN']==1 , 'plantStatus' ]= 'Break Down'
out1.loc[ ( out1['BROKEN']==0 ) & ( out1['MAINTENANCE']==1 ) , 'plantStatus' ]= 'Maintenance'
out1.loc[ ( out1['BROKEN']==0 ) & ( out1['MAINTENANCE']==0 ) & ( out1['FAULT']==1 ) & ( out1['date']>='2021' )  , 'plantStatus' ]= 'Fault'

In [19]:
out1_cols=['recStartedAt', 'recEndedAt','plant', 'plantStatus','date','shift']
out2_cols=['date','shift','plant']+measures

In [20]:
out1=pd.merge(out1[out1_cols] ,out2[out2_cols],how='left',on=['date','shift','plant'])
out1

,recStartedAt,recEndedAt,plant,plantStatus,date,shift,yield,defectiveProd,energyCons
0,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,Normal,2020-01-01,0,1124.836370,10.792175,199.665902
1,2020-01-01 08:00:00,2020-01-01 16:00:00,1010,Normal,2020-01-01,1,1282.339197,12.331281,227.747063
2,2020-01-01 16:00:00,2020-01-02 00:00:00,1010,Normal,2020-01-01,2,1286.619992,12.309624,228.088926
3,2020-01-02 00:00:00,2020-01-02 08:00:00,1010,Normal,2020-01-02,0,1274.889378,12.212085,227.526962
4,2020-01-02 08:00:00,2020-01-02 16:00:00,1010,Normal,2020-01-02,1,1277.018276,12.261960,228.298668
...,...,...,...,...,...,...,...,...,...
2450,2022-03-27 16:00:00,2022-03-28 00:00:00,1010,Normal,2022-03-27,2,1276.830902,12.204133,228.182545
2451,2022-03-28 00:00:00,2022-03-28 08:00:00,1010,Normal,2022-03-28,0,1273.868018,12.236097,227.955529
2452,2022-03-28 08:00:00,2022-03-28 16:00:00,1010,Normal,2022-03-28,1,1280.821395,12.348870,228.446626
2453,2022-03-28 16:00:00,2022-03-29 00:00:00,1010,Normal,2022-03-28,2,1273.337556,12.197699,228.119533
2454,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,Normal,2022-03-29,0,157.170959,1.501550,28.824625

In [27]:
out1=out1.reset_index().rename(columns={'index':'ID'})
out1['ID']=out1['ID']+1

In [28]:
out1

,ID,recStartedAt,recEndedAt,plant,plantStatus,date,shift,yield,defectiveProd,energyCons
0,1,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,Normal,2020-01-01,0,1124.836370,10.792175,199.665902
1,2,2020-01-01 08:00:00,2020-01-01 16:00:00,1010,Normal,2020-01-01,1,1282.339197,12.331281,227.747063
2,3,2020-01-01 16:00:00,2020-01-02 00:00:00,1010,Normal,2020-01-01,2,1286.619992,12.309624,228.088926
3,4,2020-01-02 00:00:00,2020-01-02 08:00:00,1010,Normal,2020-01-02,0,1274.889378,12.212085,227.526962
4,5,2020-01-02 08:00:00,2020-01-02 16:00:00,1010,Normal,2020-01-02,1,1277.018276,12.261960,228.298668
...,...,...,...,...,...,...,...,...,...,...
2450,2451,2022-03-27 16:00:00,2022-03-28 00:00:00,1010,Normal,2022-03-27,2,1276.830902,12.204133,228.182545
2451,2452,2022-03-28 00:00:00,2022-03-28 08:00:00,1010,Normal,2022-03-28,0,1273.868018,12.236097,227.955529
2452,2453,2022-03-28 08:00:00,2022-03-28 16:00:00,1010,Normal,2022-03-28,1,1280.821395,12.348870,228.446626
2453,2454,2022-03-28 16:00:00,2022-03-29 00:00:00,1010,Normal,2022-03-28,2,1273.337556,12.197699,228.119533
2454,2455,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,Normal,2022-03-29,0,157.170959,1.501550,28.824625

In [29]:
out1.to_csv(out1_path,index=False,sep=';')

In [30]:
del out2

In [34]:
t2

,ID,recStartedAt,recEndedAt,plant,plantSection,funcLocation,equipment,equipmentName,plantCond_ID
0,1,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,3
1,2,2022-03-16 10:00:00.4209753,2022-03-16 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,3
2,3,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,4
3,4,2022-03-16 11:00:00.4209753,2022-03-16 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,4
4,5,2022-03-17 10:00:00.4209753,2022-03-17 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,7
5,6,2022-03-17 10:00:00.4209753,2022-03-17 11:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,7
6,7,2022-03-17 11:00:00.4209753,2022-03-17 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,8
7,8,2022-03-17 11:00:00.4209753,2022-03-17 12:00:00.4209753,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,8

#### Equipment Conditions

In [36]:
factory=pd.read_excel('SmartLGPFactory.xlsx')
factory

,plant,plantSection,funcLocation,equipment,equipmentName
0,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1
1,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1
2,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300031,LGP-LED assembling machine robotic arm 1
3,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300032,LGP-LED assembling machine robotic arm 2
4,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300033,LGP-LED assembling machine robotic arm 3
5,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300034,LGP-LED assembling machine robotic arm 4
6,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300035,LGP-LED assembling machine robotic arm 5
7,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300036,LGP-LED assembling machine robotic arm 6

In [39]:
factory=pd.merge(factory,out1[['ID','recStartedAt','recEndedAt','plant']],how='outer',on=['plant'])
factory

,plant,plantSection,funcLocation,equipment,equipmentName,ID,recStartedAt,recEndedAt
0,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,1,2020-01-01 01:00:00,2020-01-01 08:00:00
1,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,2,2020-01-01 08:00:00,2020-01-01 16:00:00
2,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,3,2020-01-01 16:00:00,2020-01-02 00:00:00
3,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,4,2020-01-02 00:00:00,2020-01-02 08:00:00
4,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,5,2020-01-02 08:00:00,2020-01-02 16:00:00
...,...,...,...,...,...,...,...,...
19635,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300036,LGP-LED assembling machine robotic arm 6,2451,2022-03-27 16:00:00,2022-03-28 00:00:00
19636,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300036,LGP-LED assembling machine robotic arm 6,2452,2022-03-28 00:00:00,2022-03-28 08:00:00
19637,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300036,LGP-LED assembling machine robotic arm 6,2453,2022-03-28 08:00:00,2022-03-28 16:00:00
19638,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300036,LGP-LED assembling machine robotic arm 6,2454,2022-03-28 16:00:00,2022-03-29 00:00:00
19639,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300036,LGP-LED assembling machine robotic arm 6,2455,2022-03-29 00:00:00,2022-03-29 01:00:00

In [41]:
factory=factory.sort_values(['recStartedAt','ID'])

In [44]:
factory=factory[['recStartedAt', 'recEndedAt', 'plant', 'plantSection',
       'funcLocation', 'equipment', 'equipmentName','ID']].rename(columns={'ID':'plantCond_ID'})
factory

,recStartedAt,recEndedAt,plant,plantSection,funcLocation,equipment,equipmentName,plantCond_ID
0,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,YOH,1010-SSF-SAC-PLAR1-CMT1,220300010,LGP-Cutting machine#1,1
2455,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,YOH,1010-SSF-SAC-PLAR1-DOT1,220300020,LGP-Dotting machine#1,1
4910,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300031,LGP-LED assembling machine robotic arm 1,1
7365,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300032,LGP-LED assembling machine robotic arm 2,1
9820,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300033,LGP-LED assembling machine robotic arm 3,1
...,...,...,...,...,...,...,...,...
9819,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300032,LGP-LED assembling machine robotic arm 2,2455
12274,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300033,LGP-LED assembling machine robotic arm 3,2455
14729,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300034,LGP-LED assembling machine robotic arm 4,2455
17184,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300035,LGP-LED assembling machine robotic arm 5,2455
19639,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,YOH,1010-SSF-SAC-PLAR1-ROBT,220300036,LGP-LED assembling machine robotic arm 6,2455

In [49]:
factory=factory.reset_index(drop=True).reset_index().rename(columns={'index':'ID'})

In [50]:
factory.to_csv(out2_path,index=False,sep=';')

In [51]:
out2_path

'csv/sap.smartfactory-EquipmentConditions.csv'

In [52]:
!ls csv

maintenance_LGP_factory.csv
sap.smartfactory-EquipmentConditions.csv
sap.smartfactory-PlantConditions.csv
sim_LGP_factory.csv
sim_factory_1x2.csv

In [52]:
!ls csv

maintenance_LGP_factory.csv
sap.smartfactory-EquipmentConditions.csv
sap.smartfactory-PlantConditions.csv
sim_LGP_factory.csv
sim_factory_1x2.csv

In [53]:
! head -50 csv/sap.smartfactory-EquipmentConditions.csv

ID;recStartedAt;recEndedAt;plant;plantSection;funcLocation;equipment;equipmentName;plantCond_ID
0;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-CMT1;220300010;LGP-Cutting machine#1;1
1;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-DOT1;220300020;LGP-Dotting machine#1;1
2;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300031;LGP-LED assembling machine robotic arm 1;1
3;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300032;LGP-LED assembling machine robotic arm 2;1
4;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300033;LGP-LED assembling machine robotic arm 3;1
5;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300034;LGP-LED assembling machine robotic arm 4;1
6;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300035;LGP-LED assembling machine robotic arm 5;1
7;2020-01-01 01:00:00;2020-01-01 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300036;LGP-LED assembling machine robotic arm 6;1
8;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-CMT1;220300010;LGP-Cutting machine#1;2
9;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-DOT1;220300020;LGP-Dotting machine#1;2
10;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300031;LGP-LED assembling machine robotic arm 1;2
11;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300032;LGP-LED assembling machine robotic arm 2;2
12;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300033;LGP-LED assembling machine robotic arm 3;2
13;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300034;LGP-LED assembling machine robotic arm 4;2
14;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300035;LGP-LED assembling machine robotic arm 5;2
15;2020-01-01 08:00:00;2020-01-01 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300036;LGP-LED assembling machine robotic arm 6;2
16;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-CMT1;220300010;LGP-Cutting machine#1;3
17;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-DOT1;220300020;LGP-Dotting machine#1;3
18;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300031;LGP-LED assembling machine robotic arm 1;3
19;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300032;LGP-LED assembling machine robotic arm 2;3
20;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300033;LGP-LED assembling machine robotic arm 3;3
21;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300034;LGP-LED assembling machine robotic arm 4;3
22;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300035;LGP-LED assembling machine robotic arm 5;3
23;2020-01-01 16:00:00;2020-01-02 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300036;LGP-LED assembling machine robotic arm 6;3
24;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-CMT1;220300010;LGP-Cutting machine#1;4
25;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-DOT1;220300020;LGP-Dotting machine#1;4
26;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300031;LGP-LED assembling machine robotic arm 1;4
27;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300032;LGP-LED assembling machine robotic arm 2;4
28;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300033;LGP-LED assembling machine robotic arm 3;4
29;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300034;LGP-LED assembling machine robotic arm 4;4
30;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300035;LGP-LED assembling machine robotic arm 5;4
31;2020-01-02 00:00:00;2020-01-02 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300036;LGP-LED assembling machine robotic arm 6;4
32;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-CMT1;220300010;LGP-Cutting machine#1;5
33;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-DOT1;220300020;LGP-Dotting machine#1;5
34;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300031;LGP-LED assembling machine robotic arm 1;5
35;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300032;LGP-LED assembling machine robotic arm 2;5
36;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300033;LGP-LED assembling machine robotic arm 3;5
37;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300034;LGP-LED assembling machine robotic arm 4;5
38;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300035;LGP-LED assembling machine robotic arm 5;5
39;2020-01-02 08:00:00;2020-01-02 16:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300036;LGP-LED assembling machine robotic arm 6;5
40;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-CMT1;220300010;LGP-Cutting machine#1;6
41;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-DOT1;220300020;LGP-Dotting machine#1;6
42;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300031;LGP-LED assembling machine robotic arm 1;6
43;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300032;LGP-LED assembling machine robotic arm 2;6
44;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300033;LGP-LED assembling machine robotic arm 3;6
45;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300034;LGP-LED assembling machine robotic arm 4;6
46;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300035;LGP-LED assembling machine robotic arm 5;6
47;2020-01-02 16:00:00;2020-01-03 00:00:00;1010;YOH;1010-SSF-SAC-PLAR1-ROBT;220300036;LGP-LED assembling machine robotic arm 6;6
48;2020-01-03 00:00:00;2020-01-03 08:00:00;1010;YOH;1010-SSF-SAC-PLAR1-CMT1;220300010;LGP-Cutting machine#1;7